$primaryColorDark: #222f3e
$primaryColor: #2b3b4e

body
    color: #fff
    font-family: 'Helvetica', sans-serif
    background-color: $primaryColor
    height: 1px
    
a
    color: #000
    text-decoration: none

.menubar
    display: flex
    flex-flow: row nowrap
    justify-items: stretch
    justify-content: space-around
    background-color: $primaryColorDark
    div
        flex: 1
        text-align: center
        padding: 20px 0
        height: 50px
        line-height: 50px
        a
            
            font-weight: 500
            color: #fff
            transition: all 0.2s
            letter-spacing: 1px
            &:hover
                color: #aaa
                letter-spacing: 3px

.pop
    color: #000
    display: flex
    flex-wrap: wrap
    justify-items: flex-end
    flex-direction: column
    align-items: center
    background-color: white
    border: 1px solid #060606
    padding: 5px
    form
        display: flex
        flex-wrap: wrap
        justify-items: center
        flex-direction: column
        align-items: center
    span.garbage
        font-family: 'Helvetica', sans-serif
        font-size: 14px
        font-weight: normal
    span.address
        font-family: 'Helvetica', sans-serif
        font-size: 14px
        font-weight: bolder
    span.price
        font-family: 'Helvetica', sans-serif
        font-size: 14px
        font-weight: bold
        color: darkorange
    button.accept-button
        color: white !important
        border-radius: 4px
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
        background: rgb(28, 184, 65) !important
    input
      font-size: 14px
      border: 1px solid #dcdcdc
      padding: 5px 4px
    input[type="text"]
      border-radius: 3px 3px 0 0
    input[type="number"]
      border-radius: 0 0 3px 3px



.login-form
  display: flex
  min-width: 100%
  min-height: 100%
  flex-direction: column
  justify-content: center
  align-items: center
  div.choose
    margin-top: 40px
    display: flex
    flex-direction: row
    padding: 5px
    color: darkblue
    background-color: white
    cursor: pointer
  div.choose div
    padding: 10px
    align-items: center
  div.choose div:first-child
    padding-right: 20px
    border-right: 1px solid #060606
  form
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 20px
  input
    font-size: 14px
    border: 1px solid #dcdcdc
    padding: 12px 10px
    width: 238px

  input[type="email"]
    margin-top: 5px
    border-radius: 3px 3px 0 0

  input[type="password"]
    margin-bottom: 5px
    border-top: none
    border-radius: 0 0 3px 3px

  input[type="submit"]
    background: #1dabb8
    border-radius: 3px
    color: #fff
    float: right
    font-weight: bold
    margin-top: 20px
    padding: 12px 20px
  select
    margin-top: 10px
    width: 255px
    border-radius: 0

  input[type="button"]
    margin-top: 30px

.order-list
    width: 70%
    margin: 30px auto
    ul
        list-style: none
        li
            transition: transform 0.2s
            background-color: $primaryColorDark
            margin: 30px 0
            padding: 15px 30px
            border-radius: 7px
            &:hover
                transform: scale(1.05)

.user-profile
    width: 70%
    margin: 0 auto
    h2
        margin-left: 30px
        opacity: 0.8

.logo
    font-size: 1.75rem
    padding: 0

.exit-btn
    a
        color: #e74c3c !important

.about
    text-align: center
    opacity: 0.7
    h1
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -45%)